
.basket {
    position: fixed;
    bottom: 3.5rem;
    right: 2.5rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
    background-color: #303030;
    color: white;
}


.basket_quantity {

}



@media (min-width: 767px) {
    .basket {
        top :5rem;
        bottom: unset;
    }
}